<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- style %>
  </head>
  <body>
    <%- body %>
    <%- script %>
  </body>
</html>
